<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Board List Page
      <a class="btn btn-outline-primary" th:href="@{/board/register}">Register</a>
    </h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Bno</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">RegDate</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </th:block>
</th:block>
</html>