<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Board Read Page</h1>
    <style>
      .form-group {margin-bottom: 30px;}
    </style>
    <form th:action="@{/board/modify}" th:method="post" id="frmSend">
      <div class="form-group">
        <label for="bno">Bno</label>
        <input type="text" name="bno" id="bno" class="form-control"
               th:value="${boardDTO.bno}" readonly>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control"
               th:value="${boardDTO.title}" readonly>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" name="content" id="content" class="form-control"
                  th:text="${boardDTO.content}" readonly></textarea>
      </div>
      <div class="form-group">
        <label for="writerEmail">Writer Email</label>
        <input type="text" name="writerEmail" id="writerEmail" class="form-control"
               th:value="${boardDTO.writerEmail}" readonly>
      </div>
      <div class="form-group">
        <label for="regDate">RegDate</label>
        <input type="text" name="regDate" id="regDate" class="form-control" readonly
               th:value="${#temporals.format(boardDTO.regDate, 'yyyy/MM/dd hh:mm')}">
      </div>
      <div class="form-group">
        <label for="modDate">ModDate</label>
        <input type="text" name="modDate" id="modDate" class="form-control" readonly
               th:value="${#temporals.format(boardDTO.modDate, 'yyyy/MM/dd hh:mm')}">
      </div>
      <div class="form-group">
        <a th:href="@{/board/modify(bno=${boardDTO.bno},
                      page=${pageRequestDTO.page},type=${pageRequestDTO.type},
                      keyword=${pageRequestDTO.keyword})}"
           class="btn btn-primary">Modify</a>
        <a th:href="@{/board/list(page=${pageRequestDTO.page},
                      type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
           class="btn btn-info">List</a>
      </div>
    </form>
    <div>
      <div class="mt-4">
        <h5> <span class="btn btn-warning replyCount">Reply Count
      [[${boardDTO.replyCount}]]</span></h5>
      </div>
      <div class="list-group replyList"></div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <style>

    </style>
    <script th:inline="javascript">
      // document의 태그를 모두 읽고 난뒤 실행되는 함수
      window.onload = function(){
        loadJSONData();
        function loadJSONData() {
          const bno = [[${boardDTO.bno}]]
          const url = /*[[@{/replies/board/}]]*/'url'
          const listGroup = document.querySelector(".replyList")
          fetch(url+bno, {method: 'GET',})
          .then(response => response.json())
          .then(data => {
            console.log(data)
            let str = "";
            for(let i=0;i<data.length;i++) {
              str += `<div class="card-body form-control mb-1" style="padding: 5px 20px"
              onmouseover="this.style.background='#d6e6ff'"
              onmouseout="this.style.background='white'"
              data-rno="${data[i].rno}" data-text="${data[i].text}"
              data-replyer="${data[i].replyer}" style="cursor:pointer;">
              <h4>${data[i].rno}</h4>
              <h5 class="card-text" style="display:inline-block;width:300px">${data[i].text}</h5>
              <h6 class="card-subtitle text-muted"
                style="display:inline-block;">${data[i].replyer}</h6>
              <p class="card-text" style="display:inline-block;">${formatDateTime(data[i].regDate)}</p>
              </div>`
            }
            listGroup.innerHTML = str
          });
        }
        function formatDateTime(str) {
          const date = new Date(str)
          return `${date.getFullYear()}/${len2(date.getMonth()+1)}`
             + `/${len2(date.getDate())} ${len2(date.getHours())}:`
             + `${len2(date.getMinutes())}`
        }
        function len2(num) {
          return (num<10) ? "0"+num : num;
        }

        var msg = [[${msg}]]

        // 일회성 msg의 내용이 비거나 history 상태가 비지 않는 경우 return
        if(msg === '' || history.state) return
        // history 이용해서 모달창 보여준거에 대한 기록을 clear!
        history.replaceState({}, null, null) //(state, unused, url)

        if(msg) {  // truthy 데이터가 올 경우만 if문 실행
          const myModal = new bootstrap.Modal(document.querySelector('#myModal'),
                          { backdrop: true });
          document.querySelector(".modal-body").innerHTML
            = `<p>${msg}되었습니다.</p>`
          myModal.show()
        }
      }
    </script>
  </th:block>

</th:block>

</html>