<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    *{margin:0;padding:0}
    .header{background-color: aqua; height: 20vh; width :100vw;}
    .content{background-color: lightgray; height: 70vh; width :100vw;}
    .footer{background-color: green; height: 10vh; width :100vw;}
  </style>
</head>
<body>
<div class="header">
  <h1>HEADER</h1>
</div>
<div class="content">
  <th:block th:replace="${content}"></th:block>
</div>
<div class="footer">
  <h1>FOOTER</h1>
</div>
</body>
</th:block>
</html>